header{
    background-color: #DA81F5;
    color:white;
    padding: 30px 0 0 30px;
    font-size: 36px;
}
section{
  color: #AA51c5;
  padding-left: 30px;
}
.acbg-card{
  text-align: center;
  border: 2px solid #AA51c5;
  border-radius: 10px;
  padding:20px 10px;
  margin:10px;
  width:200px;
  height: 100px;
  display: inline-block;
}
a{
  color:#AA51c5;
}
.fas{
  font-size:48px;
}
.btn{
  text-align: center;
  border: 2px solid #AA51c5;
  border-radius: 10px;
  width: 200px;
  padding:10px 20px;
  margin:10px;
}
footer{
  color: #AA51c5;
  padding-top: 10px;
  border-top: 2px solid #AA51c5;
  margin:30px;
}
