.title {
  color: #DA81F5;
  font-size:80px;
  font-family:  arial;
  padding-left: 10px;
  border-bottom: 2px solid #DA81F5;
}
body{
  font-family: arial;
}
.contents{
  padding-left: 50px;
}
.list{
  padding-left: 70px;
}
ul{
  list-style-type: none;
}
.description{
  padding-left: 90px;
  padding-right: 90px;
  width: auto;
}
